<style>
	/* @font-face {
        font-family: 'Kamerik 105';
        src: url('/path-to-your-font-file/Kamerik105-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    } */

	
</style>